
# akhilmittal2704_db_user
# 5P3c6xFSq5kGsaux

MONGO_URL=mongodb+srv://akhilmittal2704_db_user:5P3c6xFSq5kGsaux@cluster0.x3enyet.mongodb.net/
        
const PORT=8000;

SECRET_KEY=33333333333333JLSDKJFLKJDSNKJLFANKJLSDNFKLASNDKLFNASDJKLJAFKLSDJFJAS

 